* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto; }

.mainframe {
  width: 55vh;
  height: 99vh;
  border-radius: 10px;
  text-align: center;
  background-color: #402929;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  padding-top: 1%; }
  .mainframe__imageframe {
    width: 75%;
    height: 55%;
    background-color: #b3f542;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8); }
    .mainframe__imageframe--img {
      text-align: center;
      background-color: green;
      padding-top: 20%;
      width: 100%;
      height: 100%; }
  .mainframe .containerButtons {
    margin-top: 10%;
    background-color: red;
    width: 60%;
    height: 20%; }
    .mainframe .containerButtons__row {
      margin: 0 auto;
      height: 100%; }
      .mainframe .containerButtons__row--colbutton {
        display: block;
        background-color: blue;
        width: calc((100% - 10px) / 2); }
