* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto; }

.mainframe {
  width: 55vh;
  height: 99vh;
  border-radius: 10px;
  text-align: center;
  background-color: #402929;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  padding-top: 1%; }
  .mainframe [class^="main"] {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.82);
    border-radius: 10px;
    text-align: center;
    padding: 1%; }
  .mainframe__imageframe {
    width: 75%;
    height: 55%;
    background-color: #b3f542;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8); }
    .mainframe__imageframe--img {
      text-align: center;
      background-color: green;
      padding-top: 20%;
      width: 100%;
      height: 100%; }

.containerButtons {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin-top: 10%;
  height: 19vh;
  width: 55vh;
  overflow: auto; }
  .containerButtons__row {
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 3rem;
    content: '';
    display: table;
    clear: both; }
    .containerButtons__row--col {
      text-align: center;
      margin-top: 10%;
      float: left;
      margin-right: 5px;
      width: calc((100% - 12px) / 2); }
      .containerButtons__row--col button {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.82);
        width: 15vh;
        border-radius: 11px;
        cursor: pointer;
        background-color: #7c712e;
        color: greenyellow;
        outline: none;
        border: none;
        transition: all .3s; }
        .containerButtons__row--col button:hover {
          transform: translateY(-2px);
          background-color: goldenrod;
          outline: 0;
          border: none; }
        .containerButtons__row--col button:active {
          transform: translateY(-2px);
          outline: none;
          border: none; }
      .containerButtons__row--col img {
        width: 43%;
        height: 53%; }

.miniDisplay__container {
  width: 55vh;
  height: 100%;
  background-color: green;
  padding: 3%; }
  .miniDisplay__container--output {
    background-color: #b3f542;
    width: 90%;
    height: 90%;
    color: gold; }
    .miniDisplay__container--output li {
      list-style: none; }
